<div class="container">
	<div class="page-header" style="margin: 0">
		<h1>Tickets</h1>
	</div>

	<div>
		<table class="table">
			<tr>
				<th style="background-color: #f1f1f1">Type</th>
				<th style="background-color: #f1f1f1">Name</th>
				<th style="background-color: #f1f1f1">Status</th>
				<th style="background-color: #f1f1f1">Description</th>
				<th style="background-color: #f1f1f1">Priority</th>
			</tr>
			<tr ng-repeat="ticket in tickets">
				<td ng-if="$odd" style="background-color: #f9f9f9"><img
					data-ng-src="images/type/{{ticket.type.type}}.png"
					class="img-circle"></td>
				<td ng-if="$odd" style="background-color: #f9f9f9">{{ticket.name}}</td>
				<td ng-if="$odd" style="background-color: #f9f9f9">{{ticket.status.status}}</td>
				<td ng-if="$odd" style="background-color: #f9f9f9">{{ticket.description}}</td>
				<td ng-if="$odd" style="background-color: #f9f9f9"><img
					data-ng-src="images/priority/{{ticket.priority.priority}}.png"
					class="img-circle"></td>

				<td ng-if="$even"><img
					data-ng-src="images/type/{{ticket.type.type}}.png"
					class="img-circle"></td>
				<td ng-if="$even">{{ticket.name}}</td>
				<td ng-if="$even">{{ticket.status.status}}</td>
				<td ng-if="$even">{{ticket.description}}</td>
				<td ng-if="$even"><img
					data-ng-src="images/priority/{{ticket.priority.priority}}.png"
					class="img-circle"></td>
			</tr>
		</table>
	</div>
</div>
