.table tr:nth-child(odd) {
	background-color: #edf6fe;
}

.table tbody>tr>th {
	background-color: #c8e5fb;
}

table.details {
	margin-right: 150px;
}

table.details td {
	margin: 5px;
	padding: 5px;
	padding-right: 20px;
	background-color: white;
}

table.details tr {
	background-color: white;
}

table.small-details {
	margin-right: 20px;
}

table.small-details td {
	margin: 5px;
	padding: 5px;
	padding-right: 5px;
	background-color: white;
}

table.small-details tr {
	background-color: white;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td,
	.table tbody>tr>td, .table tfoot>tr>td {
	border-top: white !important;
}