<div class="container"
	style="border: 1px solid #b7dbf9; padding-bottom: 20px;">
	<div class="alert alert-success" ng-show="success">
		<strong>Success!</strong> {{success}}
	</div>
	<div class="alert alert-danger" ng-show="error">
		<strong>Error!</strong> {{error}}
	</div>
	<h1>{{ ticket.name }}</h1>
	<button type="button" class="btn btn-default btn-sm" ng-click="openNewComment()">
		<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
		Add comment
	</button>

	<div class="container" style="background-color: white;">
		<div style="display: inline-flex;">
			<div>
				<!-- Details -->
				<div class="container" style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#details" data-toggle="collapse"
						ng-click="changeCollapseIcon('detailsIcon')">
						<h3 style="text-align: left;">
							<span id="detailsIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Details
						</h3>
					</button>

					<div class="container collapse in" id="details">
						<div>
							<table>
								<tr style="background-color: white;">
									<td>
										<table class="details">
											<tr>
												<td>Type:</td>
												<td><img
													data-ng-src="resources/images/type/{{ticket.type.type}}.png"
													class="img-circle">{{ticket.type.type}}</td>
											</tr>
											<tr>
												<td>Environment:</td>
												<td>{{ticket.environment}}</td>
											</tr>
											<tr>
												<td>Priority:</td>
												<td><img
													data-ng-src="resources/images/priority/{{ticket.priority.priority}}.png"
													class="img-circle">{{ticket.priority.priority}}</td>
											</tr>
										</table>
									</td>
									<td>
										<table class="details" style="margin-right: 50px">
											<tr>
												<td>Status:</td>
												<td>{{ticket.status.status}}</td>
											</tr>
											<tr>
											<tr>
												<td>Resolution:</td>
												<td>{{ticket.resolution}}</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>

					</div>
				</div>
				<!-- Description -->
				<div class="container" style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#description" data-toggle="collapse"
						ng-click="changeCollapseIcon('descriptionIcon')">
						<h3 style="text-align: left;">
							<span id="descriptionIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Description
						</h3>
					</button>
					<div class="container collapse in" id="description"
						style="margin: 10px">
						<textarea rows="4" style="width: 100%" readonly>{{ ticket.description }}</textarea>
					</div>

				</div>

				<!-- Parent Tasks -->
				<div ng-if="ticket.parent != null" class="container"
					style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#parentTask" data-toggle="collapse"
						ng-click="changeCollapseIcon('parentTaskIcon')">
						<h4 style="text-align: left;">
							<span id="parentTaskIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Parent Task
						</h4>
					</button>
					<div class="container collapse in" id="parentTask"
						style="margin: 10px">

						<table class="details" style="margin-right: 50px">
							<tr>
								<td><a href="#t/ticket/{{ticket.parent.id}}">{{ticket.parent.name}}</a></td>
								<td>{{ticket.parent.status.status}}</td>
								<td>{{ticket.description}}</td>
							</tr>
						</table>
					</div>

				</div>

				<!-- Sub Tasks -->
				<div ng-if="ticket.children.length > 0" class="container"
					style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#subTasks" data-toggle="collapse"
						ng-click="changeCollapseIcon('subTasksIcon')">
						<h4 style="text-align: left;">
							<span id="subTasksIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Sub Tasks
						</h4>
					</button>
					<div class="container collapse in" id="subTasks"
						style="margin: 10px">

						<table>
							<tr ng-repeat="subTicket in ticket.children">
								<td><img
									data-ng-src="resources/images/priority/{{subTicket.priority.priority}}.png"
									class="img-circle"></td>
								<td><a href="#t/ticket/{{subTicket.id}}">{{subTicket.name}}</a></td>
								<td style="padding-left: 10px">{{subTicket.description}}</td>
							</tr>
						</table>
					</div>

				</div>

				<!-- Related Tasks -->
				<div ng-if="ticket.relatedTickets.length > 0" class="container"
					style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#relatedTickets" data-toggle="collapse"
						ng-click="changeCollapseIcon('relatedTicketsIcon')">
						<h4 style="text-align: left;">
							<span id="relatedTicketsIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Related Tasks
						</h4>
					</button>
					<div class="container collapse in" id="relatedTickets"
						style="margin: 10px">

						<table>
							<tr ng-repeat="relatedTicket in ticket.relatedTickets">
								<td><img
									data-ng-src="resources/images/priority/{{relatedTicket.priority.priority}}.png"
									class="img-circle"></td>
								<td><a href="#t/ticket/{{relatedTicket.id}}">{{relatedTicket.name}}</a></td>
								<td style="padding-left: 10px">{{relatedTicket.description}}</td>
							</tr>
						</table>
					</div>

				</div>

				<!-- Comments -->
				<div ng-if="comments.length > 0 || openComment" class="container" style="background-color: white;">
					<hr>
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#comments" data-toggle="collapse"
						ng-click="changeCollapseIcon('commentsIcon')">
						<h3 style="text-align: left;">
							<span id="commentsIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Comments
						</h3>
					</button>
					<div class="container collapse in" id="comments"
						style="margin: 10px">
						<div ng-repeat="comment in comments">
							<h5>
								<span><a href="#">{{comment.user.firstName}} {{comment.user.lastName}}</a> 
									added a comment - {{comment.date | date:"MM/dd/yyyy 'at' h:mma"}}
									<button type="button" class="btn btn-default btn-sm" ng-click="deleteComment(comment)" style="float: right;border-color: white;padding: 2px;">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</span>
							</h5>
							<textarea style="width: 100%" readonly>{{comment.comment}}</textarea>
							<hr>
						</div>

					</div>
					<div class="container collapse in" style="margin: 10px" ng-show="openComment">
						<div>
							<h5>
								<span>Add new comment</span>
							</h5>
							<textarea style="width: 100%;height: 80px;" ng-model="$parent.newComment" autofocus></textarea>
							<div style="float: right;margin-top: 5px;">
								<button type="button" class="btn btn-default btn-sm" ng-click="addComment()">
									<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
									Save
								</button>
								<button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- People and Dates -->
			<div class="container" style="background-color: white;">
				<!-- People -->
				<div class="container" style="background-color: white;">
					<hr style="margin-top: 5px; margin-bottom: 5px;">
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#people" data-toggle="collapse"
						ng-click="changeCollapseIcon('peopleIcon')">
						<h5 style="text-align: left;">
							<span id="peopleIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> People
						</h5>
					</button>

					<div class="container collapse in" id="people">
						<div>
							<table class="small-details">
								<tr>
									<td>Assignee:</td>
									<td>{{ticket.assignUser.firstName}} {{ticket.assignUser.lastName}}</td>
								</tr>
								<tr>
									<td>Reporter:</td>
									<td>{{ticket.createdUser.firstName}} {{ticket.createdUser.lastName}}</td>
								</tr>
							</table>
						</div>

					</div>
				</div>

				<!-- Dates -->
				<div class="container" style="background-color: white;">
					<hr style="margin-top: 5px; margin-bottom: 5px;">
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#dates" data-toggle="collapse"
						ng-click="changeCollapseIcon('datesIcon')">
						<h5 style="text-align: left;">
							<span id="datesIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Dates
						</h5>
					</button>

					<div class="container collapse in" id="dates">
						<div>
							<table class="small-details">
								<tr>
									<td>Created:</td>
									<td>{{ticket.created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
								</tr>
								<tr>
									<td>Updated:</td>
									<td>{{ticket.updated | date:"MM/dd/yyyy 'at' h:mma"}}</td>
								</tr>
							</table>
						</div>

					</div>
				</div>

				<!-- Time tracking -->
				<div class="container" style="background-color: white;">
					<hr style="margin-top: 5px; margin-bottom: 5px;">
					<button type="button" class="btn-sm"
						style="border: 0px; background-color: white; outline: none; width: 100%;"
						data-target="#time" data-toggle="collapse"
						ng-click="changeCollapseIcon('timeIcon')">
						<h5 style="text-align: left;">
							<span id="timeIcon" class="glyphicon glyphicon-hand-up"
								aria-hidden="true"></span> Time tracking
						</h5>
					</button>

					<div class="container collapse in" id="time">
						<div>
							<table class="small-details">
								<tr>
									<td>Estimated:</td>
									<td>
										<span ng-if="estimateHours > 0" >{{ estimateHours }} h </span> 
										<span ng-if="estimateMinutes > 0" >{{ estimateMinutes }} min </span>
									</td>
								</tr>
								<tr>
									<td>Logged:</td>
									<td>
										<span ng-if="logHours > 0" >{{ logHours }} h </span> 
										<span ng-if="logMinutes > 0" >{{ logMinutes }} min </span>
									</td>
								</tr>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>